<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/小说GO.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.code1912.evereader</string>
		<key>CFBundleShortVersionString</key>
		<string>0.0.1</string>
		<key>CFBundleVersion</key>
		<string>0.0.1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: zeng3750@qq.com (5FZSAG2YT4)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-04-20T14:55:05Z</date>
	<key>Name</key>
	<string>小说GO</string>
	<key>SchemeName</key>
	<string>小说GO</string>
</dict>
</plist>
